<div class="container">
  <a href="/responses">Responses</a>
<h1> Students </h1>
<ul>
  <% @students.each do |student| %>
  <li> <%=student.first_name %> : 
    <%= student.email %></li>
  <% end %>
</ul>

<h1> Lessons </h1>
<ul>
  <% @lessons.each do |lesson| %>
  <li> <%=lesson.title %>  
  <% end %>
</ul>

<h1> Questions </h1>
<ul>
  <% @questions.each do |question| %>
  <li> <%=question.text %> : 
    <%= question.type %></li>
  <% end %>
</ul>


<h1> Responses </h1>
<ul>
  <% @responses.each do |response| %>
  <li> <%=response.value %> : 
    <%= response.created_at %></li>
  <% end %>
</ul>
</div>
